aiolimiter==1.1.0
beartype==0.12.0
evaluate==0.4.0
Flask==3.0.3
google_cloud_aiplatform==1.38.1
gymnasium==0.29.1
ipython==8.12.3
matplotlib==3.8.0
nltk==3.8.1
numpy==1.25.2
openai==1.29.0
pandas==2.0.3
Pillow==10.0.1
Pillow==10.3.0
playwright==1.37.0
py==1.11.0
pytest==7.1.2
pytest_asyncio==0.21.1
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
setuptools==69.5.1
skimage==0.0
text_generation==0.7.0
tiktoken==0.6.0
torch==2.3.0
tqdm==4.66.1
transformers==4.40.2
vllm==0.4.2
